<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Builder_Companion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Builder_Companion.Properties.Settings>
            <setting name="CPUInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="CPUTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="CPUPwr" serializeAs="String">
                <value />
            </setting>
            <setting name="CPUSpeed" serializeAs="String">
                <value />
            </setting>
            <setting name="GPUInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="GPUTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="GPUDriver" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentPhase" serializeAs="String">
                <value>Testing</value>
            </setting>
            <setting name="RAMSize" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerInfoVis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StressCheckY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeavenIconY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioCheckY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StressCheckVis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeavenIconVis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioCheckVis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RAMSpeed" serializeAs="String">
                <value />
            </setting>
            <setting name="StressProgress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BenchmarkProgress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdatingProgress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QCReadyProgress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RGBCheckY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RGBCheckVis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverheatIconVis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverheatIconY" serializeAs="String">
                <value>0</value>
            </setting>
        </Builder_Companion.Properties.Settings>
    </userSettings>
</configuration>